{% extends 'baseBack.html.twig' %}

{% block title %}Register{% endblock %}
{% block navbar %}
<body style="background-image: url('https://images.unsplash.com/photo-1572947650440-e8a97ef053b2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover;">

<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                <div class="container-fluid ps-2 pe-0">
                    <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="#">
                        Art Galleriy
                    </a>
                    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="#">
                                    <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-2" href="#">
                                    <i class="fa fa-user opacity-6 text-dark me-1"></i>
                                    Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-2" href="{{ path('app_register') }}">
                                    <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                                    Sign Up
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-2" href="{{ path('app_login') }}">
                                    <i class="fas fa-key opacity-6 text-dark me-1"></i>
                                    Sign In
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
    </div>
</div>
{% endblock %}
{% block body %}
<main class="main-content mt-6" >
    <section >
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
                        <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url(''); background-size: cover;">
                        </div>
                    </div>
                    <div class="col-l-6 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
                        <div class="card card-plain" style="background-color: aliceblue;">
                            <div class="card-header">
                                <h4 class="font-weight-bolder">Sign Up</h4>
                                <p class="mb-0">Enter your email and password to register</p>
                            </div>
                            <div class="card-body">


                                {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}

                                {% for flash_error in app.flashes('verify_email_error') %}
                                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                {% endfor %}

                                {{ form_errors(registrationForm) }}

                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">Email</label>
                                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                    {% if form_errors(registrationForm.email) %}
                                        <div class="text-danger">{{ form_errors(registrationForm.email) }}</div>
                                    {% endif %}


                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">Nom</label>
                                    {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
                                    {% if form_errors(registrationForm.nom) %}
                                        <div class="text-danger">{{ form_errors(registrationForm.nom) }}</div>
                                    {% endif %}
                                </div>

                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">Prenom</label>
                                    {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
                                    {% if form_errors(registrationForm.prenom) %}
                                        <div class="text-danger">{{ form_errors(registrationForm.prenom) }}</div>
                                    {% endif %}
                                </div>

                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">NumTel</label>
                                    {{ form_widget(registrationForm.numTel, {'attr': {'class': 'form-control'}}) }}
                                    {% if form_errors(registrationForm.numTel) %}
                                        <div class="text-danger">{{ form_errors(registrationForm.numTel) }}</div>
                                    {% endif %}
                                </div>

                                <div class="input-group input-group mb-3">

                                    {{ form_widget(registrationForm.role, {'attr': {'class': 'form-select'}}) }}
                                </div>
                                    {% if form_errors(registrationForm.role) %}
                                        <div class="text-danger">{{ form_errors(registrationForm.role) }}</div>
                                    {% endif %}



{#                                <div class="mb-3">#}
{#                                    <label class="form-label">Role</label>#}
{#                                    <select class="form-select" name="{{ registrationForm.role.vars.full_name }}">#}
{#                                        {% for choice in registrationForm.role.vars.choices %}#}
{#                                            <option value="{{ choice.data }}">{{ choice.label }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </div>#}








                                <div class="form-group">
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Password</label>
                                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    {% if form_errors(registrationForm.plainPassword) %}
                                        <div class="text-danger">{{ form_errors(registrationForm.plainPassword) }}</div>
                                    {% endif %}
                                </div>




                                {{ form_row(registrationForm.agreeTerms) }}
                                {% if form_errors(registrationForm.agreeTerms) %}
                                    <div class="text-danger">{{ form_errors(registrationForm.agreeTerms) }}</div>
                                {% endif %}



                                <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Register</button>

                                {{ form_end(registrationForm) }}

                            </div>
                            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                <p class="mb-2 text-sm mx-auto">
                                    Already have an account?
                                    <a href="{{ path('app_login') }}" class="text-primary text-gradient font-weight-bold">Sign in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
{% endblock %}
